<div>
    <h1>Property List</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Square Feet</th>
            </tr>
        </thead>
        <tbody>
            <% @properties.each do | property | %>
                <tr>
                    <td><%= property.number %></td>
                    <td><%= property.square_feet %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>